<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/chat.css">
  <title>Chat</title>
  
</head>
<body>
  <h2>Chat with <%= locals.username || "Not Found" %></h2>
  <h2 id="name">...</h2>

  <div class="container otherSide">
    <p>I want your Avocado!</p>
    <span class="time">12:00</span>
  </div>

  <div id="sendAMessage">
    <input type="text" id="text-input" onkeypress="handle(event)">
    <button class="submit" onclick="sendAMessage()">Send</button>
  </div>
  <script>
  
  </script>
  <script src="../scripts/chat.js"></script>
  
</body>
</html>