<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../styles/login.css" />
  <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
</head>

<body>

  <div id="hero">
    <h1>Havocado!</h1>
    <svg id="avoyy-logo" xmlns="http://www.w3.org/2000/svg" viewbox="-50 -50 100 100">
      <circle r="39" fill="#4B7F08" />
      <path fill="#AEBD4C" d="M0,38a38,38 0 0 1 0,-76a19,19 0 0 1 0,38a19,19 0 0 0 0,38" />
      <circle r="5" cy="19" fill="#904F38" />
      <circle r="5" cy="-19" fill="#904F38" />
      <circle r="38.5" stroke="#325305" stroke-width="1" fill="none" />
    </svg>
  </div>
  <div id="login-wrapper">
    <div id="input-wrapper">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
      <label for="username">Password</label>
      <input type="password" id="password" name="password" />
    </div>
    <input type="submit" id="submit" value="Let's Go!">
  </div>

  <script src="../scripts/login.js"></script>
</body>

</html>