<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../styles/styles.css" />
  <link rel="stylesheet" href="../styles/login.css" />
</head>

<body>
  <div class="form-wrapper">
    <caption>Log in / Sign Up</caption>
    <div class="form-container">
      <div class="inputs-container">
        <div class="input-wrapper">
          <label for="username">user name</label>
          <input type="text" id="username" name="username" value="yoshi" />
        </div>
        <div class="input-wrapper">
          <label for="username">password</label>
          <input type="password" id="password" name="password" />
        </div>
      </div>
      <input type="submit" id="submit" value="Login/Sign Up">
    </div>
  </div>
  <script src="../scripts/login.js">

  </script>
</body>

</html>