<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avomatcho</title>

    <link rel="stylesheet" href="../styles/match.css">
</head>
<body>
    
    <h1><i>Avomatcho Found!</i></h1>
    <div id="match-list">
        <div class="match">Inner content</div>
        <div class="match">Inner content</div>
        <div class="match">Inner content</div>
        <div class="match">Inner content</div>
    </div>

    <script src="../scripts/match.js"></script>
</body>
</html>