<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

    <svg id="avoyy-logo" xmlns="http://www.w3.org/2000/svg" viewbox="-50 -50 100 100">
        <circle r="39" fill="#4B7F08"/>
        <path fill="#AEBD4C" d="M0,38a38,38 0 0 1 0,-76a19,19 0 0 1 0,38a19,19 0 0 0 0,38"/>
        <circle r="5" cy="19" fill="#904F38"/>
        <circle r="5" cy="-19"  fill="#904F38"/>
        <circle r="38.5" stroke="#325305" stroke-width="1" fill="none" />
    </svg>
    <div id="content">
        <div id="looking">
            <p>I am looking</p>
        </div>

        <div id="giving">
            <p>I want to give</p>
        </div>
    </div>

    <script src="../scripts/index.js"></script>

</body>
</html>
